.c-sidebar .c-sidebar-nav-link,
.c-sidebar .c-sidebar-nav-dropdown-toggle {
  color: white !important;
}

.c-sidebar .c-sidebar-nav-link:hover,
.c-sidebar .c-sidebar-nav-dropdown-toggle:hover {
  color: white !important;
  background: #3776a9 !important;
  font-weight: bold !important;
}
.c-sidebar .c-sidebar-minimizer {
  background-color: rgb(0 71 128) !important;
}
.c-sidebar .c-sidebar-nav-link:hover .c-sidebar-nav-icon,
.c-sidebar .c-sidebar-nav-dropdown-toggle:hover .c-sidebar-nav-icon {
  color: white !important;
}
.c-header .c-subheader {
  border-top: 1px solid #fdebeb !important;
}
.c-sidebar .c-sidebar-nav-link .c-sidebar-nav-icon,
.c-sidebar .c-sidebar-nav-dropdown-toggle .c-sidebar-nav-icon {
  color: white !important;
}
.rc-loading-mask {
  position: fixed !important;
}
.c-sidebar .c-sidebar-nav-title {
  color: black !important;
}
.dropdown-divider{
  margin: 0px !important;
}
.c-sidebar .c-sidebar-nav-link.c-active, .c-sidebar .c-active.c-sidebar-nav-dropdown-toggle {
  background: #3776a9 !important;
}
.BackGroundStyle{
  background: #ccdced;
}
